/*
 * Estilos de tu proyecto
 */

 * {
 	box-sizing: border-box;
 }

 body {
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.71429;
	background-color: #fff;
	font-family: helvetica;
}

header {
	background-color: #31455a;
	width: 100%;
	position: fixed;
  	top: 0;
}

nav a {
	color: white;
	text-decoration: none;
}

a:hover {
  	background-color: #19c3a8;
}

.dowNav {
	margin-top: 10px;
	background-color: #19c3a8;
}

.container {
  	width: 100%
  	margin: 0px auto;
  	text-align: center;
}

#startBootstrap {
	color: white;
	background-color: #19c3a8;
	width: 100%;
	padding: 5%;
	margin-top: 3%;
}

.titulos {
	font-size: 70px;
	font-weight: bold;
	margin: 0 auto;
}

.t1 {
	font-size: 40px;
	margin: 0 auto;
}

.filaAbajo {
	margin-top: 0;
}

#about {
	color: white;
	background-color: #19c3a8;
	width: 100%;
	padding: 3%;
}

.parrafos {
	text-align: justify;
	margin-top: 0;
	font-size: 19px;
}

.download {
	text-decoration: none;
	color: white;
}

.btn-download {
	border: 2px solid white;
    width: 220px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    padding: 3px;
}

#more .container {
	color: white;
	background-color: #2D5D80;
	width: 100%;
	margin-top: 3%;
}

.beforeFooter {
	text-decoration: none;
	color: #19c3a8;
}

.btw-images {
	padding: 10px;
}

footer {
	color: white;
	text-align: center;
	background-color: #31455a; 
}

